<% include("partials/header") %>

<h3>Add New Student</h3>

<form action="/students/create" method="POST">
  <input type="text" name="name" placeholder="Student Name" required>
  <input type="text" name="rollNo" placeholder="Roll Number" required>
  <button type="submit">Create</button>
</form>

<a href="/students">Back</a>

<% include("partials/footer") %>
