<!DOCTYPE html>
<html>
<head>
  <title>Student Management</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <header>
    <h2>Student Management System (MVC)</h2>
  </header>

  <main>
    <!-- The child views will be inserted here -->
    <%- body %>
  </main>

</body>
</html>
